{% extends "base.html" %}

{% block title %}Index/Home Page{% endblock %}

{% block content %} "To add the nav bar and reference style.css just use (curly brace)% extends "base.html" %(curly brace)"
"To run flask: 
{% block content %} To add the nav bar and reference style.css just use

To run flask: 
1. cd /path/to/your/project [frontend folder for us]

2.# Create a virtual environment (venv)
2. python3 -m venv venv

3. # Activate the virtual environment
# On Windows
3. venv\Scripts\activate
# On macOS/Linux
3. source venv/bin/activate

4. pip install Flask

5. python app.py

Now, if you open your browser and go to http://127.0.0.1:5000, you should see your app rendered.
{% endblock %}