{% extends "base.html" %}
{% block title %}Suggest a Job{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="text-center mb-4">
        <h1>Suggest a New Career Path</h1>
        <p class="lead">We appreciate your feedback and would love to hear how we could improve the quiz, add new career ideas, or tailor it better to your interests.</p>
    </div>

    <form method="POST">
        <div class="mb-3">
            <label for="job_title" class="form-label">Job Title:</label>
            <input type="text" class="form-control" name="job_title" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Why is this job useful to include?</label>
            <textarea name="description" class="form-control" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label for="question_1" class="form-label">Suggested Question 1:</label>
            <input type="text" class="form-control" name="question_1">
        </div>

        <div class="mb-3">
            <label for="question_2" class="form-label">Suggested Question 2:</label>
            <input type="text" class="form-control" name="question_2">
        </div>

        <button type="submit" class="btn btn-primary">Submit Suggestion</button>
    </form>

    <div class="section image-section centered">
        <img src="{{ url_for('static', filename='images/idea.jpg') }}" alt="Idea Image" class="about-image" />
    </div>

</div>
{% endblock %}
